{{!-- {{#each joke}}
<div class="card">
    <div class="card-header">
        {{setup}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{punchline}}</p>
            <footer class="blockquote-footer"><cite title="Source Title">{{name}}</cite></footer>
        </blockquote>
    </div>
</div>
{{/each}} --}}


<table>
    {{#each joke}}
    <tr>
        <td>{{name}}</td>
        <td>{{setup}}</td>
        <td>{{punchline}}</td>
    </tr>
    {{/each}}
</table>